:root {
  --my-border: 1px solid rgba(0, 0, 0, 0.2);
  --my-width: 90%;
}
* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  background-image: url("../assets/20160418-american-omelet-ham-and-cheese-21.JPG");
  background-attachment: fixed;
}
hr {
  width: 20%;
  margin: 1rem auto;
}
header {
  text-align: center;
  padding: 1rem;
  border-bottom: 2px solid rgba(255, 0, 0, 0.4);
}
#rest-header {
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black;
}
#rest-header-two {
  font-size: 3rem;
  color: white;
  text-transform: capitalize;
  text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black;
}
#menubar-list {
  width: var(--my-width);
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}
.menu-item {
  display: inline-block;
  padding: 1.2rem;
  font-size: 1.1rem;
  background-color: rgb(34, 112, 185);
  color: white;
  border: var(--my-border);
}
.menu-item:hover {
  background-color: black;
  cursor: pointer;
}
#home-text,
#about-text,
#menu-text {
  width: 100%;
  padding: 1rem 2rem;
  border: var(--my-border);
  color: black;
  display: none;
  grid-column: 1 / span 1;
  grid-row: 1;
}
#home-text img,
#about-text img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: auto;
  border: var(--my-border);
  border-radius: 5px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4), 0 -7px 15px rgba(0, 0, 0, 0.4),
    7px 0 15px rgba(0, 0, 0, 0.4), -7px 0 15px rgba(0, 0, 0, 0.4);
}
#home-text h1,
#about-text h1 {
  text-transform: capitalize;
}
#text-content {
  width: var(--my-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  border: var(--my-border);
  background-color: rgba(255, 255, 255, 0.7);
}
footer {
  margin-top: 1px;
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
footer h2 {
  color: white;
}
@media (max-width: 768px) {
  :root {
    --my-width: 100%;
  }
  #text-content {
    padding: 0;
    border: none;
  }
  .menu-item {
    display: block;
  }
  #home-text h1,
  #about-text h1 {
    text-align: center;
  }
  footer {
    flex-direction: column;
  }
}
